div {
    border: 2px solid transparent;
    text-align: center;

}

div.col {
    float: left;
    margin: 0;
    box-sizing: border-box;
    max-height: 140px;
}

div.row {
    clear: both;
    border-width: 0;
}

#header {
    min-height: 10vh;
}

#main-wrap {
    min-height: 50vh;
}

#footer {
    min-height: 10vh;
}

#joker {
    width: 25vw;
    height: 15vh;
    border-radius: 20px 20px 20px 20px
}

.buttons {
    width: 15vw;
    height: 5vh;
    font-size: 100%;
    border: 1px;
    border-radius: 100px;
    background-color: #E4E4E4;
    margin: auto;
}

#timer {
    font-size: 160px;
    color: deepskyblue;
}

#nameOutput {
    font-size: 80px;
    color: deepskyblue;
}

body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/background.jpg");
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -9;
}

div.span-1 {
    width: calc(100% * 1 / 12);
}

div.span-2 {
    width: calc(100% * 2 / 12);
}

div.span-3 {
    background-color: #402878;
    width: calc(100% * 3 / 12);
}

div.span-4 {
    width: calc(100% * 4 / 12);
}

div.span-5 {
    width: calc(100% * 5 / 12);
}

div.span-6 {
    background-color: #f1f1f1;
    width: calc(100% * 6 / 12);
}

div.span-7 {
    width: calc(100% * 7 / 12);
}

div.span-8 {
    width: calc(100% * 8 / 12);
}

div.span-9 {
    width: calc(100% * 9 / 12);
}

div.span-10 {
    width: calc(100% * 10 / 12);
}

div.span-11 {
    width: calc(100% * 11 / 12);
}

div.span-12 {
    width: calc(100% * 12 / 12);
}

table {
    font-family: arial, sans-serif;
    width: 90%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #e4e4e4;
}

table tr:first-child td:first-child {
    border-top-left-radius: 10px;
}
table tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#textQuestion {
    height: 10vh;
    font-size: 40px;
    text-align: center;
    visibility: hidden;
}

#button1, #button2, #button3, #button4 {
    visibility: hidden
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    border-radius: 10px;
    background-color: #b6b6b6;
    margin: auto;
    font-size: 50px;
    padding: 20px;
    border: 1px solid #ffffff;
    width: 40%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #textQuestion {
        height: 10vh;
        font-size: 15px;
        text-align: center;
        visibility: hidden;
    }

    .buttons {
        width: 100px;
        height: 5vh;
        font-size: 50%;
        border: 1px;
        border-radius: 100px;
        background-color: #E4E4E4;
        margin: auto;
    }

    #timer {
        font-size: 100px;
        color: deepskyblue;
    }

    table {
        font-family: arial, sans-serif;
        width: 80%;
        border-collapse: collapse;
        border-radius: 10px;
        background-color: #e4e4e4;
        font-size: 50%;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 50%;
        height: 50%;
    }

    .modal-content {
        border-radius: 10px;
        background-color: #b6b6b6;
        margin: auto;
        font-size: 10px;
        padding: 20px;
        border: 1px solid #ffffff;
        width: 40%;
    }

    .close {
        color: #aaaaaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}