
body:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image:url("../images/background.jpg");
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: -11;
}
div.span-12 {
    width: calc(100% * 12 / 12);
}

h1{
    font-size: 80px;
    font-family: "Times New Roman", Times, serif;
    color: deepskyblue;
}

form {
    text-align: center;
    margin-top: 20vh;
    border-radius: 100px;
}

#submitName{
    font-family: "Times New Roman", Times, serif;
    color: deepskyblue;
}

input {
    border: none;
    font-size: 60px;
    height: 150px;
    width: 500px;
    padding: 0;
    border-radius: 70px;
    background-color: #dedede;
}

div.col {
    float: left;
    text-align: center;
    box-sizing: border-box;
}

